.relativeTimePicker {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.inputs {
  display: flex;
  gap: 8px;
  width: 100%;
}
.rounded {
  display: flex;
  gap: 8px;
  width: 100%;
}
